body {
    background-image: url(../images/aboutback.png);
    background-position: 50% 50%;
    background-size: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.box {
    padding: 15px;
    width: 57%;
    height: 58%;
    border-radius: 20px;
    background-color: rgb(80, 121, 143);
    display: flex;
    align-items: center;
}


#frontimage {
 float: left;
 width: 32%;
 padding: 25px;
 padding-top: 40px;
}

#aboutimg {
    float: right;
    width: 58%;
    padding: 25px;
    padding-top: 35px;
}